body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #22242d;
  text-decoration: none;
}

.card.border-0.card-main {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 22rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* background: linear-gradient(to bottom, #35290d, #1b1c20); */
  background-color: #1b1c20;
  color: #fff;
}

div.card-body {
  padding: 1.6rem;
}

.head-text {
  text-align: center;
  padding-bottom: 1.5rem;
}

.card-title-main {
  font-size: 1.9rem;
  font-weight: 700;
}

h6.card-subtitle.fw-light {
  padding-bottom: 1rem;
  color: #b0b0b0;
}

a.btn.btn-primary.card-button1,
a.btn.btn-primary.card-button2 {
  width: 100%;
}

a.btn.btn-primary.card-button1 {
  background-color: #fff;
  border: #fff;
  color: #000;
}

a.btn.btn-primary.card-button1:hover {
  background-color: rgba(220, 220, 220, 0.9);
  border: #fff;
  color: #000;
}

.card-title-sub {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1rem;
}

.card-text.sec-1 {
  padding: 1rem 0rem;
  font-weight: 300;
}

.card-text.sec-2 {
  padding-bottom: 1rem;
  font-weight: 300;
}

.socials {
  text-align: center;
  font-size: 2.2rem;
}

.socials a {
  color: #fff;
}

.socials p i:hover {
  color: #b0b0b0;
}
